In [124]:
import pandas as pd
import numpy as np

In [125]:
s2 = pd.Series([1, 2, 3, 4, 5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [126]:
s2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [127]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [128]:
s3 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

In [129]:
s3.values

array([1, 2, 3], dtype=int64)

In [130]:
s3.index

Index(['a', 'b', 'c'], dtype='object')

In [131]:
d = pd.date_range('2019-07-01','2019-07-07',freq='d')
d

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [132]:
np.random.seed(1)
pd.Series(np.random.randn(5))

0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
dtype: float64

In [133]:
pd.Series(np.linspace(0,9,10))

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [134]:
s6 = pd.Series({'a': 1, 'b': 1, 'c': 1, 'd': 1},dtype=int)
s6

a    1
b    1
c    1
d    1
dtype: int32

In [135]:
s7 = pd.Series(s6 , index=['ax','b','c','d'], dtype=int)
s7

ax    NaN
b     1.0
c     1.0
d     1.0
dtype: float64

In [136]:
s7.index=['z','y','x','w']

In [137]:
s7

z    NaN
y    1.0
x    1.0
w    1.0
dtype: float64

In [138]:
s7.value_counts()

1.0    3
dtype: int64

In [139]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
sdata

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [140]:
states = ['California', 'Ohio', 'Oregon', 'Utah', 'Texas']
states

['California', 'Ohio', 'Oregon', 'Utah', 'Texas']

In [153]:
obj4 = pd.DataFrame(sdata, index=states)
obj4[['Ohio','Texas']]

             Ohio  Texas
California  35000  71000
Ohio        35000  71000
Oregon      35000  71000
Utah        35000  71000
Texas       35000  71000

In [159]:
obj4.tail(5)

             Ohio  Oregon  Texas  Utah
California  35000   16000  71000  5000
Ohio        35000   16000  71000  5000
Oregon      35000   16000  71000  5000
Utah        35000   16000  71000  5000
Texas       35000   16000  71000  5000

In [188]:
b = pd.Series([80, 82, 85, 90, 83, 87,90],index = d)
b

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
2019-07-07    90
Freq: D, dtype: int64

In [189]:
b2 = pd.Series([70, 75, 69, 83, 79, 77,95],index = d)
b2

2019-07-01    70
2019-07-02    75
2019-07-03    69
2019-07-04    83
2019-07-05    79
2019-07-06    77
2019-07-07    95
Freq: D, dtype: int64

In [194]:
result = pd.DataFrame({'Midterm': b,'Finals': b2})
result

            Finals  Midterm
2019-07-01      70       80
2019-07-02      75       82
2019-07-03      69       85
2019-07-04      83       90
2019-07-05      79       83
2019-07-06      77       87
2019-07-07      95       90

In [199]:
result[(result.Midterm>80) & (result.Midterm<100)][['Midterm']]

            Midterm
2019-07-02       82
2019-07-03       85
2019-07-04       90
2019-07-05       83
2019-07-06       87
2019-07-07       90

### Reading CSV Files

In [229]:
df = pd.read_csv('panda.csv')
df['Assignment Diffrence']=df['Assignment 2']-df['Assignment 1']

In [230]:
df[['Assignment 1','Assignment 2','Assignment Diffrence']]

    Assignment 1  Assignment 2  Assignment Diffrence
0            7.0           9.0                   2.0
1            8.0          10.0                   2.0
2            8.0          10.0                   2.0
3            NaN           2.0                   NaN
4            7.0           9.0                   2.0
5            8.0          10.0                   2.0
6            8.0          10.0                   2.0
7            8.0          10.0                   2.0
8            7.0           9.0                   2.0
9            8.0           NaN                   NaN
10           8.0           NaN                   NaN
11           5.0           NaN                   NaN
12           8.0          10.0                   2.0
13           8.0          10.0                   2.0
14           6.0           8.0                   2.0
15           NaN           NaN                   NaN
16           7.0           9.0                   2.0
17           9.0          11.0                   2.0
18           8.0          10.0                   2.0
19           8.0          10.0                   2.0
20           7.0           9.0                   2.0
21           9.0          11.0                   2.0
22           7.0           NaN                   NaN
23           8.0          10.0                   2.0
24           9.0          11.0                   2.0
25           8.0          10.0                   2.0
26           6.0           8.0                   2.0
27           8.0          10.0                   2.0
28           9.0          11.0                   2.0
29           6.0           NaN                   NaN
30           9.0           NaN                   NaN
31          10.0           NaN                   NaN
32           8.0          10.0                   2.0
33           8.0          10.0                   2.0
34           8.0          10.0                   2.0
35           NaN          10.0                   NaN
36           9.0           NaN                   NaN
37           9.0           NaN                   NaN
38           5.0           7.0                   2.0
39           9.0          11.0                   2.0
40           8.0          10.0                   2.0
41           8.0          10.0                   2.0
42           8.0          10.0                   2.0
43           6.0           8.0                   2.0
44           9.0           NaN                   NaN
45           9.0           NaN                   NaN
46           8.0          10.0                   2.0
47           5.0           7.0                   2.0