In [34]:
break_list = [2,4,6,8,10]
for i in break_list:
    if i == 2 or i == 10:
        continue
    print (i, end=" ")

4 6 8

In [57]:
first_name = ['Asad','Imran','Fazeel','Waseem','Adam']
last_name = ['Ali','Khan','Kamran','Badami','Akhter']
full_name = []
for f in first_name:
    for l in last_name:
        if(first_name.index(f) == last_name.index(l)):
            full_name.append(f + " " + l)
full_name

['Asad Ali', 'Imran Khan', 'Fazeel Kamran', 'Waseem Badami', 'Adam Akhter']

In [60]:
a =  int(input("Enter start Number: "))
b =  int(input("Enter End Number: "))
for n in range (a,b):
    for i in range (1,11):
        print(str(n)+" * "+str(i)+" = "+str(n*i))
    print("\n")

Enter start Number: 3
Enter End Number: 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Dictionary

In [74]:
dct = {1:100,2:200,3:300}
dct1 = {"a":"apple","b":"bara apple"}
dct2 = {1:"apple",2:"mango"}
dct3 = {"apple":100,"orange":200}
dct4 = {"name":['asad','saad']}
dct5 = {1:[dct,dct1,dct2,dct3,dct4]}

dct[1]

dct5[1][0][2]

200